/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

html {
  font-family: "Roboto", sans-serif;
}

header {
  margin: 20px 77px 47px 7px;
}

nav {
  margin-bottom: 53px;
}

.about {
  margin: 0 16px;
}

header a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 400;
}

.description {
  margin: 0 284px 10px 9px;
  font-size: 12px;
  line-height: 14px;
}

h2 {
  font-size: 12px;
}
