/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0px;
}

.description {
  margin: 25px 0px;
}

.technical-recources p {
  margin: 10px 0px;
}

.project div {
  width: 330px;
}

.otherprojects {
  display: flex;
  justify-content: center;
}

footer {
  font-family: .AppleSystemUIFont;
  font-size: 12px;
  color: white; 
  background: #000000;
}