/* ====================================
// css variables
// ==================================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-main: #fff;
  --color-second: #000;
  --font-main: 'Roboto', sans-serif;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background-color: var(--color-second);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 414px;
  margin: auto;
  background-color: var(--color-main);
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: var(--font-main);
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

header {
  padding: 20px 7px;
  margin-bottom: 51px;
}

header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 191px;
  margin-bottom: 53px;
}

header a {
  text-decoration: none;
}

header h1 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
}

.data.list {
  font-size: 12px;
  line-height: 1.2;
}

.archi-data-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 0 12px;
}

.data-list a {
  margin: 0 7px 12px;
  display: inline-block;
}

section p,
section a {
  margin: 0 7px;
}

.caption {
  margin: 54px 77px 56px 7px;
  line-height: 26px;
}

.return-button {
  font-size: 12px;
  display: block;
  text-align: center;
  margin: 24px 0;
}

footer {
  background-color: var(--color-second);
  padding: 30px 7px;
  color: var(--color-main);
}

footer h2,
footer p {
  font-size: 12px;
  line-height: 14px;
}

footer span {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  font-size: 10px;
  line-height: 11px;
}