/* ====================================
// css variables
// ==================================== */

:root {
  initial-letter-align: sa;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  max-width: 419px;
  display: block;
  scroll-behavior: smooth;
  margin: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

body {
  padding: 20px 7px;
  font-family: Roboto-Regular;
  color: #000000;
}

nav {
  display:flex;
  justify-content: space-between;
  margin-right: 220px;
}

a {
  text-decoration: none;
}

h1 {
  padding-top: 55px;
  font-size: 30px;
  font-weight: 400;
}

header p {
  padding-top: 10px;
}

header a {
  text-decoration: none;
}

main div, 
footer p {
  font-size: 12px;
  line-height: 1rem;
}

main div {
  padding: 50px 0 10px 0;
}

main div a, a {
  text-decoration: underline;
}

br {
  content: "";
  display: block;
  margin-bottom: 1em;
}

.explication {
  padding: 55px 75px 55px 0;
}

.back-link {
  display: flex;
  justify-content: center;
  padding: 30px 0 15px;
}

footer {
  background-color: #000000;
  line-height: 0.5rem;
  padding: 30px 0 30px 7px;
}

footer p,
footer a{
 color: #FFFFFF
}

.sources {
  font-size: 10px;
}

.sources-title {
  padding-top: 20px;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer a {
  text-decoration: none;
}